body{
  background-color: #000000;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.card{
  transition: 0.3s ease;
}

.card.win{
  background: linear-gradient(45deg, #DB0B5F, #6F00ED);
  padding: 3px;
}

.box{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.win .box{
  background-color: #CAD5E2;
}


.icon{
  font-size: 35px;
}
/* 
.win{
  border: 5px solid #6F00ED;
  transform: scale(1.1);
} */